{#{% extends "@Default/layout.html.twig" %}#}

{% extends "@Default/templas.html.twig" %}

{% block body %}
<h2>Product</h2>

    {{ render (controller("DefaultBundle:Default:index")) }}
{% endblock %}

