# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: hanter
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  gmail
    mailer_host:       127.0.0.1
    mailer_user:       saymondom@gmail.com
    mailer_password:   delux64802

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt



    img_list_type:
      - ["jpg","image/jpg"]
      - ["gif","image/gif"]
      - ["png","image/png"]

    image_upload_dir: "%kernel.root_dir%/../web/photos/"
    image_upload_dir_icon: "%kernel.root_dir%/../web/photos/icon"
    img_resize_resolution: [[300,300],[450,450]]